{#
 # Single Case Study
 #
 # @package WordPress
 # @subpackage WordPressTheme
 #}

{% extends 'index.html.twig' %}

{% block main %}
	<div class="container opacity-0 transition-1000 ease-in-out transition-opacity is-inview:opacity-100" data-scroll>
		<div class="row">
			<div class="lg:col-10/12 lg:ml-1/12">
				<div class="row">
					<div class="lg:col-7/10 lg:-ml-4/10 lg:order-2">
						<div class="h-[13.75rem] lg:h-[27.5rem] relative bg-black">
							{{- include( 'components/image.html.twig', { classes: [ 'z-2', 'relative', 'h-full', 'w-full', 'object-cover', 'object-center' ], size: 'size-7', image: post.thumbnail } ) -}}
							<div class="absolute inset-0 z-2 mx-5 lg:mx-10 mt-5 lg:mt-10 pb-5 lg:pb-16 flex items-end">
								<div>
									<h1 class="border-white border-[0.25rem] p-5 inline-block align-middle text-2xl lg:text-5xl uppercase font-bold text-white">
										{{ post.title }}
									</h1>

									{% if post.meta( 'client' ) %}
										<p class="font-bold text-white mt-2.5">
											{{- __( 'With %s', 'lesrapporteuses' ) | format ( post.meta( 'client' ) ) -}}
										</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>

					<div class="lg:col-7/10 lg:mt-[7.5rem] lg:order-1">
						<div class="lg:h-[27.5rem] w-full p-5 lg:p-10 lg:flex lg:items-end" style="background-color: {{ post.meta( 'color' ) | default( '#000000' ) }};">
							<p class="text-sm text-white">{{- post.meta( 'description' ) -}}</p>
						</div>
					</div>

					{% if post.meta( 'credits' ) %}
						<div class="lg:col-3/10 lg:-ml-3/10 mt-5 lg:mt-0 lg:order-3">
							<div class="h-full flex items-end mx-5 lg:mx-0">
								<p class="text-right text-2xs w-full">
									{{- post.meta( 'credits' ) -}}
								</p>
							</div>
						</div>
					{% endif %}
				</div>

				{%- if post.meta( 'content' ) -%}
					<div class="row mt-5 lg:mt-10">
						<div>
							<p class="text-xs mx-5 lg:mx-10">
								{{- post.meta( 'content' ) -}}
							</p>
						</div>
					</div>
				{%- endif -%}
			</div>
		</div>
	</div>

	{% if post.blocks %}
		<div class="container mt-5 lg:mt-10">
			<div class="row">
				<div class="lg:col-10/12 lg:ml-1/12 flex flex-col gap-y-2 lg:gap-y-6">
					{{- include( 'blocks/blocks.html.twig', { blocks: post.blocks } ) -}}
				</div>
			</div>
		</div>
	{% endif %}

	{% if post.prev is not empty or post.next is not empty %}
		<div class="container text-2xs mt-6">
			<div class="row">
				<div class="lg:col-10/12 lg:ml-1/12">
					<div class="flex">
						{% if post.prev is not empty %}
							<a href="{{ post.prev.link | e( 'esc_url' ) }}">
								&lt;&nbsp;{{- __( 'Previous project %s', 'lesrapporteuses' ) | format ( "<strong>#{ post.prev.title }</strong>" ) -}}
							</a>
						{% endif %}

						{% if post.next is not empty %}
							<a class="ml-auto" href="{{ post.next.link | e( 'esc_url' ) }}">
								{{- __( 'Next project %s', 'lesrapporteuses' ) | format ( "<strong>#{ post.next.title }</strong>" ) -}}&nbsp;&gt;
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}

{% endblock %}
